section {padding:3rem;}
#carousel-section {padding:0rem;}
#carousel-sub {padding:2rem;
background-color: whitesmoke

}
.bg-primary {background-color:#007aeb;color:#fff;}
.bg-gray {background-color:#cccccc;}
.bg-cheedar{background-color:#92B558;}
.bg-footer{background-color:#AD5D5D;}

.two
{
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(230deg, white 65%, #E08119 35%);
    min-height: 400px;
}

