<top-bar></top-bar>

<section id="carousel-section" class="text-center">
   <app-carousel></app-carousel>
</section>

<section id="carousel-sub">
   <div class="container">
      A short paragraph that is contained to a max width by a container. A short paragraph that is contained to a max
      width by a container. A short paragraph that is contained to a max width by a container. A short paragraph that is
      contained to a max width
      by a container. A short paragraph that is contained to a max width by a container. A short paragraph that is
      contained to a max width by a container.
   </div>
</section>

<section class="two bg-cheedar text-center">
   <div class="container">

      <food-card></food-card>
   </div>
   <!-- /.container-->
</section>

